*{ margin:0; padding:0; box-sizing:border-box; }

html{ width:100%; height:100%; }
body{ 
  background:linear-gradient(180deg, #0b0f14, #070a0e);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main{ 
  display: flex; 
  flex-direction: column; 
  gap: 12px; 
}

input {
  padding: 10px 5px;
  background: #0b0f14;
  border: 2px solid rgba(91, 214, 255, 0.705);
  border-radius: 4px;
  color: white;
}

input:hover{
  /* background: rgba(91, 214, 255, 0.205); */
  transform: scale(1.03);
  cursor: pointer;
}

button{
  padding: 10px 5px;
  background: #0b0f14;
  border: 2px solid rgba(91, 214, 255, 0.705);
  border-radius: 4px;
  color: white;
}
button:hover{
  /* background: rgba(91, 214, 255, 0.205); */
  transform: scale(1.03);
  cursor: pointer;
}
